/* Montserrat y Baskervville */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}
.baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}
.montserrat-regular {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: black;
    color: white;
    font-family: "Baskervville", serif;
}

.navbar-brand {
    position: relative;
    display: inline-block;
}

.navbar-brand img {
    transition: filter 0.3s ease;
    position: relative;
    z-index: 1;
    height: 100px;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../recursos/Degradado_fondo_M.svg') center/cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-brand:hover img {
    filter: brightness(1.2) contrast(0.8);
}

.navbar-brand:hover::before {
    opacity: 1;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.hero-content {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 35px;
    font-family: "Baskervville", serif;
}

.navbar .container {
    justify-content: space-between;
}

.navbar-nav {
    gap: 2rem;
}

.nav-link {
    color: white !important;
}

.btn-outline-light {
    border-color: white;
    margin-left: 2rem;
}

.btn-outline-light:hover {
    background-color: white;
    color: black !important;
}

.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link:not(:hover)::after {
    left: auto;
    right: 0;
}

.navbar .btn-outline-light {
    position: relative;
    padding: 10px 70px 10px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 0;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}

.navbar .btn-outline-light::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url('../recursos/Brillo_dorado.svg');
    background-size: cover;
    background-position: center;
    transition: left 0.3s ease;
}

.navbar .btn-outline-light:hover::before {
    left: 100%;
}

.navbar .btn-outline-light::after {
    content: '→';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s ease;
    font-size: 50px;
    line-height: 1;
}

.navbar .btn-outline-light:hover,
.navbar .btn-outline-light:hover .nav-link {
    color: #C57C21 !important;
    border-color: #C57C21;
    background-color: transparent;
}

.navbar .btn-outline-light:hover::after {
    right: 15px;
    color: #C57C21;
}

.services-section {
    background-color: black;
    background-image: url('../recursos/Fondo de títulos-opacidad75.png');
    background-size: cover;
    background-position: center;
    padding: 160px 0; /* Aumentado para más espacio vertical */
    text-align: center;
}

.services-content h2 {
    color: white;
    font-family: "Baskervville", serif;
    font-size: 2.2rem;
}
.services-content {
    text-align: center;
    /* Otros estilos que necesites */
}

.image-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
    overflow: hidden;
}

.image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
    z-index: 1;
}

.moneda-img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", serif;
    font-size: 2.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 3;
}

.image-section:hover .moneda-img {
    transform: translateX(40vw); /* Mueve la imagen al borde derecho de la ventana */
}

.image-section:hover .service-text {
    opacity: 1;
}

.image-section:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Servicios/transformacion-digital.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.consultoria:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Consultoria/Consultoria.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.desarrollo:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Desarrollo/DesarrolloSw.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.ciberseguridad:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Ciberseguridad/Ciberseguridad.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.marketing:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Estrategias_Marketing/Estrategias_Marketing.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.integracion:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Integracion/Integracion.jpg');
    background-size: cover;
    background-position: center;
}

/* Si quieres algún estilo específico para la sección "Lo que nos define" */
.define-section {
    justify-content: center;
}


.nosDefine-seccion {
    background-image: url('../recursos/Home/NosDefine/Fondo_nos_define.png');
    background-size: cover;
    background-position: center;
    padding: 300px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* El resto del CSS permanece igual */

.button-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.define-button {
    position: absolute;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    border: none;
}

.define-button:hover {
    transform: translateY(-40px); /* Ajusta el valor para cambiar la altura del movimiento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar efecto de elevación */
}

.define-button:nth-child(1) {
    top: -20%; /* Ajusta este valor para mover el botón más arriba */
    left: 15%;
}

.define-button:nth-child(2) {
    top: -20%;
    right: 45%;
}

.define-button:nth-child(3) {
    top: -20%;
    right: 15%;
}

.define-button:nth-child(4) {
    top: 100%;
    left: 29%;
}

.define-button:nth-child(5) {
    top: 100%;
    right: 30%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.grid-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
}

.grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
    flex: 1 1 calc(25% - 20px); /* 4 elementos por fila */
    max-width: calc(25% - 20px);
    padding: 30px; /* Aumenta el padding para hacerlos más grandes */
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 768px) {
    .grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
        flex: 1 1 calc(33.333% - 20px); /* 3 elementos por fila en pantallas más pequeñas */
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 480px) {
    .grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
        flex: 1 1 100%; /* 1 elemento por fila en pantallas muy pequeñas */
        max-width: 100%;
    }
}



.silver-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Silver/SilverFondo.jpg');
    background-size: cover;
    background-position: center;
}
.iuva-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Iuva/IuvaFondo.jpg');
    background-size: cover;
    background-position: center;
}
.plan50-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/50plan/50Plan.jpg');
    background-size: cover;
    background-position: center;
}
.houseClub-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/HouseClub/HouseClub.jpg');
    background-size: cover;
    background-position: center;
}
.toyCars-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/ToyCars/ToyCars.jpg');
    background-size: cover;
    background-position: center;
}
.mumma-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Mumma/Mumma.jpg');
    background-size: cover;
    background-position: center;
}
.vendenos-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Vendenos/Vendenos.jpg');
    background-size: cover;
    background-position: center;
}



