@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-regular {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 35px;
    font-family: "Baskervville", serif;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    position: relative;
    display: inline-block;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../recursos/NavBar/Degradado_fondo_M.svg');
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.navbar-brand:hover::before {
    opacity: 1;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    position: relative;
    z-index: 2;
}

.navbar-nav .nav-item {
    position: relative;
    padding: 0 10px;
}

.navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}


.navbar .btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
    border-width: 2px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.navbar .btn-outline-light::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url('../recursos/NavBar/Brillo_dorado.svg');
    background-size: cover;
    background-position: center;
    transition: left 0.3s ease;
}

.navbar .btn-outline-light:hover::before {
    left: 100%;
}

.navbar .btn-outline-light:hover {
    color: #C57C21;
    background-color: transparent;
    border-color: #C57C21;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
}

.texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 800px;
    color: white;
    z-index: 2;
}

.texto-central h1 {
    font-family: "Baskervville", serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.texto-central p {
    font-family: "Baskervville", serif;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .texto-central h1 {
        font-size: 2.5rem;
    }

    .texto-central p {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .texto-central h1 {
        font-size: 2rem;
    }

    .texto-central p {
        font-size: 1rem;
    }
}

body {
    padding-top: 0; 
    background-color: black;
    animation: fadeIn 0.5s;
}
.servicios-preview {
    background-color: black;
    background-image: url('../recursos/Fondo de títulos-opacidad75.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    text-align: center;
}

.servicios-preview h2 {
    color: #ffffff; /* Ajusta el color del texto según sea necesario */
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: "Baskervville", serif;
}
.image-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 50px 0;
    min-height: 300px;
    margin-bottom: 50px; /* Añade espacio entre las secciones */
}

/* Para eliminar el margen del último elemento */
.image-section:last-child {
    margin-bottom: 0;
}



.image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
    z-index: 1;
}

.moneda-img {
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", serif;
    font-size: 2.5rem;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 3;
}

.image-section:hover .moneda-img {
    transform: translateX(40vw); 
}

.image-section:hover .service-text {
    opacity: 1;
}

.image-section:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Servicios/transformacion-digital.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.consultoria:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Consultoria/Consultoria.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.desarrollo:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Desarrollo/DesarrolloSw.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.ciberseguridad:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Ciberseguridad/Ciberseguridad.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.marketing:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Estrategias_Marketing/Estrategias_Marketing.jpg');
    background-size: cover;
    background-position: center;
}

.image-section.integracion:hover {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Integracion/Integracion.jpg');
    background-size: cover;
    background-position: center;
}

.nosDefine-seccion {
    background-image: url('../recursos/Fondo de títulos-opacidad75.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosDefine-seccion .nosDefine-seccion-content {
    text-align: center;
}

.nosDefine-seccion h2 {
    color: #ffffff; /* Ajusta el color del texto según sea necesario */
    font-family: "Baskervville", serif;
    font-size: 3rem;
    margin: 0;
}

.nosDefineButtons {
    background-image: url('../recursos/Home/NosDefine/Fondo_nos_define.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 50px;
}

.define-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.define-button:hover {
    transform: translateY(-10px);
}
.define-button::after {
    content: attr(data-text);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: "Baskervville", serif;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.define-button:hover::after {
    opacity: 1;
}
.button-icon {
    width: 100px; /* Ajusta según el tamaño deseado */
    height: auto;
}
.confian-seccion {
    background-image: url('../recursos/Fondo de títulos-opacidad75.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confian-seccion .confian-seccion-content {
    text-align: center;
}

.confian-seccion h2 {
    color: #ffffff; /* Ajusta el color del texto según sea necesario */
    font-family: "Baskervville", serif;
    font-size: 3rem;
    margin: 0;
}
.grid-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
    background-color: black;
}

.grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
    flex: 1 1 calc(25% - 20px); /* 4 elementos por fila */
    max-width: calc(25% - 20px);
    padding: 30px; /* Aumenta el padding para hacerlos más grandes */
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 768px) {
    .grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
        flex: 1 1 calc(33.333% - 20px); /* 3 elementos por fila en pantallas más pequeñas */
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 480px) {
    .grid-item, .silver-container, .iuva-container, .plan50-container, .houseClub-container, .toyCars-container, .mumma-container, .vendenos-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}



.silver-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Silver/SilverFondo.jpg');
    background-size: cover;
    background-position: center;
}
.iuva-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Iuva/IuvaFondo.jpg');
    background-size: cover;
    background-position: center;
}
.plan50-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/50plan/50Plan.jpg');
    background-size: cover;
    background-position: center;
}
.houseClub-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/HouseClub/HouseClub.jpg');
    background-size: cover;
    background-position: center;
}
.toyCars-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/ToyCars/ToyCars.jpg');
    background-size: cover;
    background-position: center;
}
.mumma-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Mumma/Mumma.jpg');
    background-size: cover;
    background-position: center;
}
.vendenos-container:hover {    
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../recursos/Home/Confian/Vendenos/Vendenos.jpg');
    background-size: cover;
    background-position: center;
}

.informacion-redes {
    background-image: url('../recursos/Footer/Degradado_fondo_footer.svg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: #ffffff; /* Asegúrate de que el texto sea visible sobre el fondo */
}

/* Agrega estos nuevos estilos */
.logo-container {
    margin-bottom: 20px; /* Ajusta según sea necesario */
}

.footer-logo {
    max-width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

/* Si necesitas hacer el logo responsive, puedes agregar media queries */
@media (max-width: 768px) {
    .footer-logo {
        max-width: 120px; /* Tamaño más pequeño para pantallas móviles */
    }
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.mapa-container {
    overflow: hidden;
    max-width: 100%;
    height: 200px; /* Ajusta según tus necesidades */
    margin-top: 20px; /* Añade un poco de espacio arriba del mapa */
}

.mapa-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.mapa-container:hover .mapa-imagen {
    transform: scale(1.1); /* Ajusta el valor para más o menos zoom */
}
.col-md-4.offset-md-2 {
    margin-left: 12.5%; /* Ajusta este valor según necesites */
}

@media (max-width: 768px) {
    .col-md-4.offset-md-2 {
        margin-left: 0; /* Elimina el margen en pantallas pequeñas */
    }
}

.enlaces-legales {
    list-style-type: none;
    padding: 0;
}

.enlaces-legales li {
    margin-bottom: 10px;
}

.enlaces-legales a {
    color: #888;
    text-decoration: none;
}

.redes-sociales {
    margin-top: 50px;
    margin-bottom: 60px; /* Añade un poco de espacio debajo de las redes sociales */
}

.red-social {
    display: inline-block;
    width: 40px; /* Ajusta según el tamaño deseado */
    height: 40px; /* Ajusta según el tamaño deseado */
    margin-right: 10px;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.red-social:hover {
    transform: scale(1.1);
}

/* Estilos específicos para cada red social */
.red-social.facebook {
    background-image: url('../recursos/Footer/facebook_dorado.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.red-social.instagram {
    background-image: url('../recursos/Footer/instagram_dorado.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-social.linkedin {
    background-image: url('../recursos/Footer/linkedin_dorado.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-social.whatsapp {
    background-image: url('../recursos/Footer/whatsapp.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-social.email {
    background-image: url('../recursos/Footer/mail_dorado.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888; 
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .copyright {
        margin-top: 15px;
        font-size: 0.8rem;
    }
    
    .redes-sociales {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

.footer-left {
    padding-left: 15%; /* Ajusta este valor según necesites */
}

@media (max-width: 1200px) {
    .footer-left {
        padding-left: 10%; /* Reduce el padding en pantallas más pequeñas */
    }
}

@media (max-width: 992px) {
    .footer-left {
        padding-left: 5%; /* Reduce aún más el padding en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .footer-left {
        padding-left: 0; /* Elimina el padding en pantallas móviles */
    }
}

/* Agregar media query para dispositivos móviles */
@media (max-width: 768px) {
    .nosDefineButtons {
        background-image: url('../recursos/Home/NosDefine/fondoResponsive.jpg'); /* Cambia esta ruta por la de tu imagen para móviles */
        height: auto; /* Ajusta la altura automáticamente según el contenido */
        padding: 30px 0; /* Reduce el padding en móviles */
    }

    .nosDefineButtons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .define-button {
        display: flex;
        flex-direction: column; /* Cambiado a column para apilar verticalmente */
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        width: 90%;
        text-align: center;
        padding: 15px;
        gap: 30px; /* Espacio entre el ícono y el texto */
        margin: 0 30px; /* Añade margen horizontal entre botones */
    }

    .define-button::after {
        content: attr(data-text);
        position: static;
        transform: none;
        opacity: 1;
        font-family: "Baskervville", serif;
        font-size: 2rem;
        white-space: normal;
        color: #ffffff;
    }

    .button-icon {
        width: 80px;
        height: auto;
    }
    .moneda-img {
        width: 50%; /* Reduce el tamaño al 60% en móviles */
        max-width: 200px; /* Establece un tamaño máximo */
    }
    .service-text{
        font-size: 1.5rem;
    }

    /* Ajusta también la animación de hover para móviles */
    .image-section:hover .moneda-img {
        transform: translateX(30vw); /* Reduce el desplazamiento en móviles */
        width: 10%;
    }
}





